
body {
    background-color:rgb(70, 80, 216);
    font-family: 'Noto Sans JP', sans-serif;
    flex-direction: row;
}

h1 {
text-align: center;
font-weight: normal;
font-size: 50px;
color:rgb(255, 255, 255);
background-color: rgb(27, 0, 146);
border-style: solid;
border-radius: 18px;
padding: 10px;
letter-spacing: 8px;
margin: 2% 25.5%;
width: 675px;
font-family: 'Roboto', sans-serif;

}
h2 {
    text-align: left;
    font-weight: normal;
    font-size: 40px;
    color:rgb(255, 255, 255);
    background-color: rgb(27, 0, 146);
    border-style: solid;
    border-radius: 5px;
    display: inline-block;
    padding-left: 165px;
    padding-right: 25px;
    padding-top: 2px;
    padding-bottom: 6px;
    }


    h3, h5, h6 {
    text-align: left;
    font-weight: normal;
    font-size: 40px;
    color:rgb(255, 255, 255);
    background-color: rgb(27, 0, 146);
    border-style: solid;
    border-radius: 5px;
    display: inline-block;
    padding-left: 80px;
    padding-right: 10px;
    }

h4 {
        text-align: center;
        font-weight: normal;
        color:rgb(255, 255, 255);
        background-color: rgb(70, 80, 216);
        }


p {line-height: 2.5;
color: rgb(255, 255, 255);
background-color: rgb(70, 80, 216);
width: 800px;
text-align: center;
margin-left: 300px;
margin-right: 300px;
font-weight: 400;
font-size: 18px;
}

a {text-decoration: none;
color:rgb(255, 255, 255);
background-color: rgb(27, 0, 146);
font-weight: 400;
font-size: 18px;
}

img {
border-style: solid;
border-width: 5px;
border-color: rgb(27, 0, 146);
border-radius: 20px;
margin: 0 25.5%;
}

footer a:hover {
    color: rgb(174, 184, 240);
    text-decoration-line: underline;
}

footer {
    font-weight: 400;
    font-size: 20px;
    border-style: solid;
    border-width: 15px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-color: rgb(27, 0, 146);
    background-color: rgb(70, 80, 216);

}


button {
color:rgb(255, 255, 255);
background-color: rgb(27, 0, 146);
font-size: 20px;
font-family: Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 20px;
padding-right: 20px;
border-style: solid;
border-color: rgb(255, 255, 255);
border-radius: 5px;
margin-left: 35px;
margin-right: 8px;
transition: all 0.25s;
text-transform: uppercase;

}


button:hover {
    color: rgb(174, 184, 240);
    border-color:rgb(174, 184, 240);
    box-shadow: 0 0.5em 0.5em -0.3em white;
    transform: translateY(-.25em)

}


    hr {
        margin-left: 150px;
        margin-right: 150px;

    }


ul {line-height: 1.75;
    color: rgb(255, 255, 255);
    background-color: rgb(70, 80, 216);
margin: 60px;
font-weight: 400;
}

table {line-height: 2.70;
    color: rgb(27, 0, 146);
    background-color: rgb(70, 80, 216);

}

li a {
    color: rgb(255, 255, 255);
    background-color: rgb(70, 80, 216);
    font-weight: 700px;
}

#sciencetable {
    color: rgb(27, 0, 146);
background-color: rgb(174, 184, 240);
border-width: 5px;
border-color:rgb(27, 0, 146);
border-style: solid;
border-radius: 20px;
padding: 8px 10px 8px 12px;
margin: 5%;
font-family: Tahoma, Geneva, Verdana, sans-serif;
width: fit-content;
}

#bluewhaletable {
    background-color: rgb(174, 184, 240);
    border-width: 5px;
    border-color:rgb(27, 0, 146);
    border-style: solid;
    border-radius: 20px;
    margin-left: 26.2%;
    margin-bottom: 30px;
    padding: 10px;
}

.navbar {
        margin-top: 20px;
        margin-bottom: 20px;
        position: fixed;
        top: -3px;
display: flex;
justify-content: center;
    }


    .maplegend {
        border-style: solid;
        border-color: rgb(27, 0, 146);
        border-width: 5px;
        border-radius: 7px;
        padding: 7px, 0px, 7px, 8px;
        width: 400px;
        background-color:rgb(174, 184, 240);
        color:rgb(27, 0, 146);
        margin-bottom: 5%;
    }

    .looklikeimg {
margin: 0 12.5%;
    width: 1100px;
    }

    .liveimg {
        margin: 0 15.5%;
        width: 980px;
    }

    .aboutmeimg {
    width: 800px;
    margin: 0 21.5%;
    }

    .eatimg {
    width: 1000px;
    margin: 0 14.5%;

    }

    .homeimg
    {
        width: 73%;
        margin: 0 13.5%;

    }

    @media (max-width: 768px){ 
        h1 {
            font-size: 35px;
        
}
    }

    @media (max-width: 576px){ 
        h1 {
            font-size: 25px;
}
    }
    @media (max-width: 600px){ 
        table {
            font-size: 10px;
}
}
@media (max-width: 400px){ 
    table {
        font-size: 5px;
}
}

    @media (max-width: 768px){ 
        .navbar {
            flex-direction: column;
            width: 40%;
        }
    }